openapi: 3.1.0
info:
  title: Jira Issue Search
  version: 1.0.0
servers:
  - url: https://aiinkwell-team.atlassian.net/rest/api/3
paths:
  /search:
    get:
      summary: Search Jira issues
      operationId: searchJiraIssues
      parameters:
        - in: query
          name: jql
          required: true
          schema:
            type: string
          description: The Jira Query Language to filter issues
      responses:
        '200':
          description: A list of Jira issues
          content:
            application/json:
              schema:
                type: object
                properties:
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        key:
                          type: string
                        fields:
                          type: object
                          properties:
                            summary:
                              type: string
                            status:
                              type: object
                              properties:
                                name:
                                  type: string
                            assignee:
                              type: object
                              properties:
                                displayName:
                                  type: string
