openapi: 3.1.0
info:
  title: Jira Issue Search and Project List
  version: 1.0.0
servers:
  - url: https://aiinkwell-team.atlassian.net/rest/api/3
paths:
  /search:
    get:
      summary: Search Jira issues
      operationId: searchJiraIssues
      parameters:
        - in: query
          name: jql
          required: true
          schema:
            type: string
          description: The Jira Query Language to filter issues
      responses:
        '200':
          description: A list of Jira issues
          content:
            application/json:
              schema:
                type: object
                required:
                  - issues
                properties:
                  issues:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - key
                        - fields
                      properties:
                        id:
                          type: string
                        key:
                          type: string
                        fields:
                          type: object
                          properties:
                            summary:
                              type: string
                            status:
                              type: object
                              properties:
                                name:
                                  type: string
                            assignee:
                              type: object
                              properties:
                                displayName:
                                  type: string

  /project:
    get:
      summary: List Jira projects
      operationId: listJiraProjects
      responses:
        '200':
          description: A list of available projects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    key:
                      type: string
                    name:
                      type: string
